* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper {
	background-image: url('../images/background-img.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}
.bg-semi-transparent {
	background-color: rgba(0, 0, 0, 0.1);
}
.search-column {
	width: 600px;
}
.text-aliceblue {
	color: aliceblue;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.clickable {
	cursor: pointer;
}
#city-list li {
	padding-left: 5px;
	margin-bottom: 5px;
	font-size: 25px;
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: background-color 0.2s;
}
#city-list li:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
.forecast-item {
	flex: 0 0 calc(20% - 20px);
	margin: 10px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	text-align: center;
}
.custom-current-weather h2 {
	font-size: 35px;
}
.weather-separator {
	border-top: 1px solid #00000010;
	margin: 10px auto;
	width: 80%;
}
.custom-search-button {
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0); 
  transition: background-color 0.3s, border-color 0.3s;
}
.custom-search-button:hover {
  background-color: rgba(0, 0, 0, 0.4); 
  border-color: rgba(0, 0, 0, 0);
}